{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "> 5%", "not ie < 11", "Safari >= 8"],
                "uglify": true
            },
            "modules": false
        }]
    ]
}
