{% include "Core/Layout/Templates/Partials/Head.html.twig" %}

<body class="{{ LANGUAGE }} font-sans leading-normal tracking-normal text-gray-900 antialiased" itemscope itemtype="http://schema.org/WebPage">
    <div id="splash-app"></div>

    {# Site wide HTML #}
    {{ siteHTMLFooter|raw }}
</body>
</html>
